Bosch_Changeover_App/.vs/Bosch_Changeover_App/v15/.suo
Bosch_Changeover_App/Bosch_Changeover_App/.vs/Bosch_Changeover_App/v14/.suo
*.suo
Bosch_Changeover_App/Bosch_Changeover_App/.vs/Bosch_Changeover_App/v14/.suo
Bosch_Changeover_App/Bosch_Changeover_App/.vs/Bosch_Changeover_App/v14/.suo
Bosch_Changeover_App/Bosch_Changeover_App/.vs/Bosch_Changeover_App/v14/.suo